@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.App {
  background-image: url("images/day.jpg");
  background-size: cover;
  transition: 0.4 ease;
  -webkit-transition: background-image 1.5s linear;
-moz-transition: background-image 1.5s linear;
-o-transition: background-image 1.5s linear;
-ms-transition: background-image 1.5s linear;
transition: background-image 1.5s linear;
}
.App.night {
  background-image: url("images/night.jpg"); 
  transition: 0.4 ease;
  -webkit-transition: background-image 1.5s linear;
-moz-transition: background-image 1.5s linear;
-o-transition: background-image 1.5s linear;
-ms-transition: background-image 1.5s linear;
transition: background-image 1.5s linear;
}
* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

main {
  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-image: linear-gradient(to bottom, rgba(0,0,0,0.1), rgba(0, 0, 0, 0.856));
  text-align: center;
  padding:25px;
}

.card2{
  background-color: rgba(255, 255, 255, 0.712);
  box-shadow: 0px 3px 5px rgba(56, 56, 56, 0.842);
  padding: 30px;
  border-radius: 30px;
  width: 600px;
}
footer{
  position: fixed;
  bottom: 0px;
  left: 0;
  width: 100%;
  background-color: rgba(85, 85, 85, 0.096);
  color: rgb(187, 187, 187);
}

.search-box .search-bar{
  width: 350px;
  padding: 15px;
  appearance: none;
  border: none;
  background:none;
  outline: none;
  background-color: rgba(255, 255, 255, 0.548);
  box-shadow: 0px 3px 5px rgba(34, 34, 34, 0.4);
  border-radius: 20px;
  margin-bottom: 20px;
  
  color: black;
  font-size: 17px;

  transition: 0.4 ease;
}
::placeholder {
  color: rgba(0, 0, 0, 0.726);
  font-family: 'Montserrat', sans-serif;
}
.search-box .search-bar:focus{
  background-color: rgba(255, 255, 255, 0.746);
  box-shadow: 0px 3px 5px rgba(34, 34, 34, 0.5);
}

.location{
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 35px;
  padding: 20px 20px 5px 20px;
  color: rgb(32, 32, 32);;
}
.date{
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 18px;
  padding: 5px 20px 20px 20px;
  color: rgb(32, 32, 32);
}

.temp{
  font-size: 80px;
  font-weight: 800;
  padding: 15px;
  color: rgb(146, 71, 1);;
  text-shadow: 0px 3px 5px rgba(133, 133, 133, 0.5);
  transition: 0.3 ease;
  -webkit-transition: color 1.5s linear;
-moz-transition: color 1.5s linear;
-o-transition: color 1.5s linear;
-ms-transition: color 1.5s linear;
transition: color 1.5s linear;
}
.temp.night {
  color: rgb(0, 24, 133);;
  transition: 0.3 ease;
  -webkit-transition: color 1.5s linear;
-moz-transition: color 1.5s linear;
-o-transition: color 1.5s linear;
-ms-transition: color 1.5s linear;
transition: color 1.5s linear;
}

.weather-box{
  display: flex;
  margin: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.description{
  font-size: 20px;
  font-weight: 500;
  padding: 5px;
  color: rgb(32, 32, 32);
}

.icon{
  width: 225px;
}

.sunsetSunrise{
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 15px;
  font-weight: 300;
  padding: 15px;
  color: rgb(32, 32, 32);
}

@media (max-width: 600px) {
  .card2{
    width: 100%;
  }
  footer{
    position: relative;
    background-color: black;
  }
}

@media only screen and (max-width: 350px) {
  .card2{
    width: 280px;
  }
  .search-box .search-bar{
    width: 250px;
  }
  footer{
    position: relative;
    background-color: black;
  }
}

